body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, lightgreen, green, darkgreen);
    text-align: center;
    margin: 0;
    padding: 0;
}
.container {
    margin-top: 50px;
}
button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
h1 {
    background-color: lightgreen;
    padding: 10px;
    display: inline-block;
}
